<div class="w-[97vw] h-screen absolute bg-slate-600 top-0 right-0 grid place-items-center">
  <form class="bg-slate-500 w-[40vw] h-[95vh] rounded-md flex flex-col items-center" (ngSubmit)="signUp()">
    <input type="email" class="mt-10 border-4 border-white bg-slate-500 text-white rounded-md h-[5vh] w-[35vw]" name="email" placeholder="Enter Email..." [(ngModel)]="email">
    <input type="password" class="mt-10 border-4 border-white bg-slate-500 text-white rounded-md h-[5vh] w-[35vw]" name="password" placeholder="Enter Password..." [(ngModel)]="password">
    <input type="password" class="mt-10 border-4 border-white bg-slate-500 text-white rounded-md h-[5vh] w-[35vw]" name="confirmPassword" placeholder="Confirm Password..." [(ngModel)]="confirmPassword">
    <input type="text" class="mt-10 border-4 border-white bg-slate-500 text-white rounded-md h-[5vh] w-[35vw]" name="username" placeholder="Enter Username..." [(ngModel)]="username">

    <input class="mt-10 text-white bg-slate-400 rounded-md cursor-pointer w-[10vw] h-[5vh] text-center grid place-items-center font-bold text-xl" type="submit" value="Sign Up" />

    <div class="mt-10 text-white bg-slate-400 rounded-md cursor-pointer w-[25vw] h-[5vh] text-center grid place-items-center font-bold text-xl" (click)="signIn()">Already Have an Account? Sign In</div>
  </form>
</div>
